server:
  port: ${SERVER_PORT}

spring:
  application:
    name: linkUp
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

  web:
    resources:
      add-mappings: false

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-ms: ${JWT_ACCESS_VALID_MS}
  refresh-token-validity-ms: ${JWT_REFRESH_VALID_MS}

app:
  auth:
    verification-code:
      digits: ${VERIFICATION_CODE_DIGITS:6}

cloud:
  aws:
    s3:
      bucket: sakjdd
      region: ap-northeast-2
    stack.auto: false
    region.static: ap-northeast-2
    credentials:
      accessKey: ${S3_AccessKey}
      secretKey: ${S3_SecretKey}